<ion-content>
    <ion-label>
        <h2 style="padding: 7% 0 6% 5%; font-weight: 600; font-size: 24px;">
            Search
        </h2>
    </ion-label>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    <ion-label>
        <h2 style="padding: 7% 0 6% 5%; font-weight: 600; font-size: 24px;">
            Recomended
        </h2>
    </ion-label>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img src="/assets/images/bg3.jpg" alt="">
                    <ion-item lines="none">
                        <ion-label>gameName</ion-label>
                    </ion-item>
                    <ion-card-content>
                        <ion-icon name="people-outline" slot="start"></ion-icon>
                        1500 Players
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="/assets/images/bg3.jpg" alt="">
                    <ion-item lines="none">
                        <ion-label>gameName</ion-label>
                    </ion-item>
                    <ion-card-content>
                        <ion-icon name="people-outline"></ion-icon>
                        1500 Players
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="/assets/images/bg3.jpg" alt="">
                    <ion-item lines="none">
                        <ion-label>gameName</ion-label>
                    </ion-item>
                    <ion-card-content>
                        <ion-icon name="people-outline"></ion-icon>
                        1500 Players
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <img src="/assets/images/bg7.jpg" alt="">
                    <ion-item lines="none">
                        <ion-label>gameName</ion-label>
                    </ion-item>
                    <ion-card-content>
                        <ion-icon name="people-outline"></ion-icon>
                        1500 Players
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>