<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="game">
        <ion-icon name="game-controller-outline"></ion-icon>
        <ion-label>Games</ion-label>        
      </ion-tab-button>
  
      <ion-tab-button tab="leaderb">
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Leader Board</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button> 
      
    </ion-tab-bar>
  </ion-tabs>
</ion-app>