<ion-content>
  <ion-label>
    <h1 style="padding: 7% 0 6% 5%; font-weight: 600; font-size: 24px;">
      My Subscription
    </h1>
  </ion-label>
  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-title>Monthly Plan</ion-card-title>
        <ion-card-subtitle>₹ 45/ Month</ion-card-subtitle>
        <ion-card-subtitle>Ad free Games</ion-card-subtitle>
      </ion-card-header>
      <ion-checkbox slot="end" color="primary"></ion-checkbox>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-title>Annual Plan</ion-card-title>
        <ion-card-subtitle>₹ 499/ Month</ion-card-subtitle>
        <ion-card-subtitle>Ad free Games</ion-card-subtitle>
      </ion-card-header>
      <ion-checkbox slot="end" color="primary"></ion-checkbox>
    </ion-item>
  </ion-card>
  <div class="aligncenter">
    <ion-button shape="round">Pay Now</ion-button>
  </div>
</ion-content>