ion-card {
    border-radius: 10px;
    img {
        border-radius: 10px;
    }
}
ion-thumbnail {
    min-height: 75px;
    min-width: 120px;
    margin-top: 0;
    margin-bottom: 0;
}
ion-icon {
    color: #FFD700;
}