<!-- List of Text Items -->
<ion-list>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <ion-item lines="none">
          <ion-icon name="radio-button-on-outline"></ion-icon>
          <h2>650 Gold Coins</h2>
        </ion-item>        
      </ion-label>
      
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2><ion-icon name="radio-button-on-outline"></ion-icon>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img src="/assets/images/bg3.jpg">
      </ion-thumbnail>
      <ion-label>
        <h1>Gamename</h1>
        <h2>650 Gold Coins</h2>
      </ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
</ion-list>